@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:700');

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

/*body*/
body {
	margin: 100px;
}

/*browse menu*/
#browse-menu {
   font-family: Roboto, Arial;
}

#browse-menu {
    background-color: #fcb03f;
    list-style: outside none none;
    margin: 0 0 0 -20px;
    padding: 1em;
    text-align: center;
    width: 16em;
}

#browse {
    color: white;
}

#browse-menu a {
    text-decoration: none;
    color: #d5d5d5;
}

#browse-menu a:hover {
    color: #319cce;
}

.dd-pullright {
    background-color: #3A3A3A;
    float: left;
    height: 27em;
    left: -999em;
    margin: 0;
    min-width: 50em;
    position: absolute;
    list-style: none;
}

#browse-column > ul > li > a {
   color: #d5d5d5;
}

#browse-column > ul > li > a:hover {
   color: #319cce;
}

.browse-vert-menu li:hover .dd-pullright {
    left: 18em;
    top: 0;
    z-index: 5;
}

#browse-menu:hover .browse-vert-menu {
    top: 16.28em; /*This is a static position that needs adjusted*/
    margin-left: -1em;
}

.browse-column {
    display: inline;
    float: left;
    margin: 0.5em 1em 2em 2em;
    min-width: 12em;
    position: relative;
}

.browse-column > h3 {
    border-bottom: 1px solid;
    color: #d5d5d5;
    margin-bottom: 5px;
}

.browse-column > ul {
    margin: 0;
	padding-left: 0;
}

.browse-column > ul > li {
    list-style: outside none none;
}

.browse-vert-menu {
    background-color: #3A3A3A;
    border-right: 0.18em solid #676767;
    height: 27em;
    list-style: outside none none;
    padding: 0;
    position: absolute;
    top: -999em;
    width: 17.85em;
    z-index: 1000;
}

.browse-vert-menu > li {
    padding: 0.75em 1.5em;
    text-align: left;
    width: 14.85em;
}

.browse-vert-menu > li:hover {
    background-color: #4A4A4A;
    border-right: 0.25em solid #319cce;
}

.browse-la-widget {
    margin-top: 35px;
}